::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #38383a;
  border-radius: 20px;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.app {
  display: flex;
  width: 652px;
  height: 360px;
}

input {
  border: 1px solid #818588;
  border-radius: 8px;
  box-sizing: border-box;
  color: #bdc1c6;
  font-size: 14px;
  height: 40px;
  background-color: transparent;
  width: 100%;
}

.select-drop-down input {
  color: #8ab4f8;
  padding: 5px 15px;
  font-size: 15px;
}

.select-drop-down .down-arrow svg {
  position: relative;
  left: 265px;
  top: -33px;
  width: 26px;
  height: 26px;
  fill: #8ab4f8;
}

.arrow-container {
  padding: 5px 15px;
}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
  cursor: pointer;
}
