::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #38383a;
  border-radius: 20px;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.app {
  display: flex;
  width: 652px;
  height: 360px;
}

.arrow-container {
  padding: 5px 15px;
}

.arrow-container svg {
  width: 26px;
  height: 26px;
  fill: #5a5a5d;
  cursor: pointer;
}
